.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3vh 0;
    z-index: 999;
    background-color: rgb(0, 9, 17);
    transition: all linear .4s;
}

.navbar ul li{
    display: inline;
    color: #FFFFFF;
    margin: 0 10px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 5vh;
}
.navbar ul li a{
    padding: 10px 10px;
}

.navbar ul .nav-active{
    text-decoration: underline #FFB800 2px;
}

.navbar button{
    margin-left: 5vh;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    background: #000911;
}

.navbar button:hover{
    color: #000911;
    background-color: #FFFFFF;
    border-color: #000911;
}

.bar-icon{
    display: none;
    color: #FFFFFF;
    font-size: 24px;
}

@media (min-width: 768px){
    .navbar.up{
        top: 0;
    }
    .navbar.up.b{
        background-color: transparent;
    }
    .navbar.down{
        top: -200px;   
    }
}

@media (max-width: 767px) {
    .bar-icon{
        display: initial;
        position: fixed;
        top: 30px;
        left: 30px;
        transition: all linear .4s;
    }
    .navbar{
        max-width: 250px;
        height: 90%;
        display: flex;
        flex-direction: column-reverse;
        position: absolute;
        left: -300px;
        padding: 50px 20px;
    }
    .navbar ul{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .navbar button{
       margin-left: 0;
    }
    .navbar.active{
       position: fixed;
       left: 0;
    }
    .navbar.active .bar-icon{
        left: 300px;
    }
    .block{
        z-index: 899;
        background-color: rgb(0, 9, 17,.8);
        height: 100%;
        width: 100vw;
        position: fixed;
    }
}