.property-card {
    height: 300px;
    max-width: 400px;
    width: 70vw;
    margin: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.property-image {
    height: 60%;
    width: 100%;
    position: Absolute;
    top: 0px;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: start;
    cursor: pointer;
}


.property-description {
    background: linear-gradient(252.85deg, #001122 0%, #020202 100%);
    color: #FFFFFF;
    height: 40%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    bottom: 0;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    text-align: center;
    padding: 15px 0;
    font-size: large;
    border-radius: 10px 10px 0 0;
    box-shadow: rgb(0, 0, 0) 0px -15px 15px -15px;
}

.property-description .title-git .icon {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
}

.property-description .title-git .icon:hover {
    cursor: pointer;
}

.property-description .title-git h4 {
    font-size: x-large;
    color: #FFB800;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
}

.property-card:hover .property-description {
    height: 20px;
}

.property-card:hover .property-description p {
    opacity: 0;
    font-size: 0;
}

.property-card:hover .property-description h4 {
    color: #FFFFFF;
    font-size: initial;
}

.property-card:hover .property-image {
    height: 85%;
    background-position: center;
}

@media (max-width: 767px){
    .property-card .property-description h4{
        font-size: large;
    }
    .property-card .property-description p{
        font-size: medium;
    }
}
@media (max-width: 375px){
    .property-description .title-git .icon{
        position:inherit;
    }
}